body {  
  background-repeat:no-repeat;
  background-size: 100vw 100vh;
  background-color: #000000;
}

* {
  box-sizing: border-box;
}

#hamburger {
  display: none;
}

#hamburger-logo {
  cursor: pointer;
  background: black;
  width: 200px;
  display: block;
  color: white;
  text-align: right;
  transform: translateX(-168px);
  padding: 10px;
  border:solid 1px #444;
}

nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: black;
  overflow: hidden;
  height: 90%;
  width: 200px;
  transform: translateX(-200px);
  font-size: 23px;
}

#hamburger-logo,
nav {
  /* Pour qu'il y ait une animation */
  transition: 0.7s;
}

/* Lorsque #hamburger est coché, le #hamburger-logo et le nav qui sont dans le même parent changent de propriété */
#hamburger:checked ~ #hamburger-logo,
#hamburger:checked ~ nav {
  /* Changement de la position pour afficher les menus */
  transform: translate(0);
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background: #444;
}

#main {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#video {
  height: 700px;
  width: 700px;
  margin: 0px;
}

#text {
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
}